div{
    display: block;
}
body{
    font-size: 14px;
}
.nav_head{
    width: 100%;
    height: 120px;
    background-color: #F5F5F5;

}

.nav_head .box_top{
    width: 1200px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    margin: 0 auto;
    color: #999999;
    #font-family: Helvetica;
    #font-family: ;
    cursor: pointer; /*定义了光标的类型*/

}

.nav_head .box_bottom_contain{
    background-color: #FFFFFF;
}
.nav_head .box_bottom{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    color: #333333;

}

.nav_head .box_bottom_contain .box_botton_logo_img{
    vertical-align: middle;
}

.nav_footer{
    width: 100%;
    height: 100px;
    background-color: #25292e;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    text-align: center;
    line-height: 100px;

}
